<div class="container about-box">
  <div class="plate mx-auto mb-5" id="cork">
  <span>About</span>
  </div>
  <p>
    ながのCAKEは小さな洋菓子店です。<br>
    プレゼントなどにもご利用できます。<br>
    誕生日、記念日などにもぜひご利用ください！
  </p>