
<div class="plate mx-auto" id="cork">
  <span>Welcome!!</span>
  </div>
<div class="home-box mx-auto my-3">
    <p class="home-text">ようこそ、ながのCAKEへ!</p>


      <%= link_to '新規会員登録' , new_customer_registration_path, method: :get %>


     <div class="all-items-show-button"><%= link_to "全ての商品をみる", public_items_path %></div>
</div>
