 <h2>商品一覧</h2>
 <% @items.each do |item|%>
 <%= link_to public_item_path(item) do%>
          <p class="img-wrap"><%= image_tag item.image, width: "80%", format: "jpeg", fallback: "no_image.jpeg" %></p>
        <% end %>
        <%= item.name %></p>
          <% if item.is_sale_status == true %>
            <p class="item-details card-text"><%= item.add_tax_tax_excluded_price %>円(税抜き)</p>
          <% else %>
            <p class="text-danger font-weight-bold card-text">販売停止中</p>
          <% end %>
        <% end %>